* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: sticky;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #2b2b31;
  .header-wrap {
    width: 80%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-header {
      width: 20%;
      height: 100%;
      background-color: #28282d;
      cursor: pointer;
      .boximgheader {
        margin: auto;
        height: 100%;
        width: 50%;
        img {
          background-color: #28282d;
          height: 100%;
          width: 100%;
        }
      }
    }
    .center-header {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        color: #eeeef5;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0px;
        li {
          display: flex;
          margin-right: 30px;
          margin-left: 30px;
          cursor: pointer;
          ion-icon {
            font-size: 1.5vw;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
          a {
            text-decoration: none;
            color: #eeeef5;
            align-items: center;
          }
        }
      }
    }
    .right-header {
      height: 80px;
    }
  }
}
.right-header {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 0px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #eeeef5;
        font-size: 16px;
        font-weight: 700;
        p {
          font-size: 18px;
        }
      }
    }
    .li-signin {
      width: 130px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #df525f;
      text-align: center;
      line-height: 50px;
      background: linear-gradient(
        90deg,
        rgb(231, 10, 113) 0%,
        rgb(236, 75, 142) 26%,
        rgb(235, 43, 84) 81%
      );
    }
  }
}

.right-header ul .li-signin:hover {
  background: linear-gradient(
    90deg,
    rgb(231, 10, 113) 0%,
    rgb(231, 30, 114) 26%,
    rgb(231, 75, 109) 81%
  );
  transition: 0.4s;
}
.right-header ul .iconmenu {
  font-size: 30px;
  display: none;
}
@media screen and (max-width: 1115px) {
  .header-wrap .menu-responsive ul {
    background-color: white;
    z-index: 10;
    width: 100%;
    display: block;
    position: absolute;
    top: 70px;
    // right: 0;
    // left: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f3f3f3;
    margin-top: 10px;
    li {
      z-index: 10;
      margin: 0px;
      width: 20%;
      text-align: center;
      cursor: pointer;
      padding: 10px;
      border: 1px solid black;
      list-style: none;
      float: right;
      background-color: #2b2b31;
      a {
        text-decoration: none;
        color: #eeeef5;
      }
    }
  }
  .right-header ul .iconmenu {
    display: block;
    margin: auto;
    font-size: 40px;
    color: #eeeef5;
  }
  .header {
    .header-wrap {
      .center-header {
        display: none;
      }
    }
  }
}
